@page "/"
@using System.Globalization;
@using Microsoft.AspNetCore.Components
@using MudBlazor
@using RcTireManager.Components.Pages
@using RcTireManager.Data.DTO
@using RcTireManager.Interfaces.Viewmodels
@using RcTireManager.Viewmodels
@inherits LayoutComponentBase
@inject IViewModelHome _viewModelHome

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<MudPaper style="display: grid; grid-template-columns: fr fr fr;">
    <MudPaper Class="pa-16 ma-2" Elevation="0" Style="grid-column: 2">
        <div style="display: grid; grid-template-rows: 8vh 8vh 8vh 8vh 8vh 8vh; gap: 2vh">
            <div style="grid-row: 1">
            </div>
        </div>
    </MudPaper>
</MudPaper>